# yaml-language-server: $schema=https://squidfunk.github.io/mkdocs-material/schema.json

site_name: CoD Extract Wiki
site_url: https://dest1yo.github.io/cod-extract-wiki/

theme:
  name: material

  logo: assets/logo.jpg
  favicon: assets/logo.jpg

  font:
    text: Noto Sans SC
    code: Roboto Mono

  features:
    - navigation.footer

  palette:
    # Dark Mode
    scheme: slate
    primary: black
    accent: blue

markdown_extensions:
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
  - admonition
  - pymdownx.details
  - pymdownx.caret
  - pymdownx.mark
  - pymdownx.tilde

extra_css:
  - assets/stylesheets/extra.css

extra:
  social:
    - icon: simple/github
      name: Github
      link: https://github.com/dest1yo
    - icon: simple/bilibili
      name: Bilibili
      link: https://space.bilibili.com/24962305
    - icon: simple/discord
      name: Discord
      link: https://discord.gg/eY2Y5p2PEp
    - icon: simple/kofi
      name: Ko-fi
      link: https://ko-fi.com/dest1yo

copyright: Copyright &copy; 2025 dest1yo

nav:
  - Home: index.md
  # - About:
  #     - Team: about/team.md
  #     - Contact: about/contact.md
  - Quickstart:
     - CoD HQ Games: quickstart/cod_hq_games.md
  - Tutorials:
     - Material Layers Mapping: tutorials/material_layers_mapping/material_layers_mapping.md
